// // // 
// // {
// //     "presets": [
// //         "@babel/preset-env",
// //         "@babel/preset-react"
// //     ],
// //     "plugins": [
// //         [
// //           "@babel/plugin-proposal-class-properties"
// //         ]
// //     ]
// //   }
// {
//     "presets": [
//       [
//         "@babel/preset-env",
//         {
//           "targets": {
//             "node": "8.10"
//           }
//         }
//       ]
//     ],
  
  
//     "plugins": [
//       "@babel/plugin-proposal-class-properties"
//     ]
  
  
//   }

{
"presets":["@babel/preset-react","@babel/preset-env"],
"plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]


}